.laechoimg { margin:2px 2px -1px 2px;vertical-align:text-bottom; }
.navigationBar { margin:0; padding:3px; } 
.navigationBar li {	display:inline; }
.navigationBar li div {	display:inline;padding: 1px 1px 1px 1px;font-weight:bold;-webkit-border-radius: 1px;-moz-border-radius: 1px;}	
.navigationBar li div a:hover{color:#FF9900;}
.counters_tbl  {border:0px; width:100%;margins: auto;width:auto; margin-right: auto; margin-left:auto; padding:0px;}
.counters_tbl td {border:0px; width:100%;margins: auto;width:auto; margin-right: auto; margin-left:auto; padding:0px;}
.counters_2 {float:left;font-size:13px;white-space:nowrap;padding:5px 0px 6px 17px;text-align:left;height:17px;}
.counters_2 img {vertical-align:text-bottom; margin:0; padding:0; border:0; outline:0;}
.counters_2 a {text-decoration:none;color:black}
.counters_2 a:hover {text-decoration:none;color:black}
.counters_3 {float:left;font-size:13px;white-space:nowrap;padding:5px 0px 6px 17px;text-align:left;height:17px;}
.counters_3 img {vertical-align:text-bottom;margin:0; padding:0; border:0; outline:0;}
.counters_3 a {text-decoration:none;color:black}
.counters_3 a:hover {text-decoration:none;color:black}
.counters_4 {float:left;font-size:13px;white-space:nowrap;padding:5px 0px 6px 0px;text-align:left;height:17px;}
.counters_4 img {vertical-align:text-bottom;margin:0; padding:0; border:0; outline:0;}
.counters_4 a {text-decoration:none;color:black}
.counters_4 a:hover {text-decoration:none;color:black}
#counter_left {-moz-border-radius-topleft:3px;border-top-left-radius:3px;-webkit-border-top-left-radius:3px;-moz-border-radius-bottomleft:3px;border-bottom-left-radius:3px;-webkit-border-bottom-left-radius:3px;}
#counter_right {-moz-border-radius-bottomright:3px;border-bottom-right-radius:3px;-webkit-border-bottom-right-radius:3px;-moz-border-radius-topright:3px;border-top-right-radius:3px;-webkit-border-top-right-radius:3px;}
.fb_like {background-position: 0px -170px; background-image: url(../icons/fb_combo.png); background-repeat: no-repeat;height: 14px;width: 15px;}
.fb_comment {background-position: 0px -103px; background-image: url(../icons/fb_combo.png); background-repeat: no-repeat;height: 16px;width: 16px; }
.tipsy { padding: 5px; font-family: arial, helvetica, verdana; font-size: 12px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat;  background-image: url(../icons/tipsy.gif); }
.tipsy-inner { padding: 3px 5px 3px 5px; background-color: black; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-north { background-position: top center; }
.tipsy-south { background-position: bottom center; }
.tipsy-east { background-position: right center; }
.tipsy-west { background-position: left center; }

.step_indicator {background: #8A9BC3; border: 1px solid #627AAD; color: white; float: left; font-size: 17px; margin-right: 10px; padding: 1px 0px; text-align: center; width: 40px; display:block}
.active_step {background: #ACCD97; border-color: #74AC51;}
